eh! xterm appearance and behavior
Xft.dpi: 192
xterm*faceName: DejaVuSansMono
xterm*faceSize: 10
xterm*background: #1d2021
xterm*foreground: #ffffff
xterm*highlightColor: #5f5f5f
xterm*highlightSelection: true
xterm*selectToClipboard: true
xterm*VT100.Translations: #override \
                 Ctrl Shift <Key>V:    insert-selection(CLIPBOARD) \n\
                 Ctrl Shift <Key>C:    copy-selection(CLIPBOARD)
