Xft.dpi: 192
xterm*faceName: DejaVuSansMono
xterm*faceSize: 10
Xcursor.size: 48
xterm*background: #404552
xterm*foreground: #C5C8C6
xterm*highlightSelection: true
xterm*selectToClipboard: true
xterm*VT100.Translations: #override \
                 Ctrl Shift <Key>V:    insert-selection(CLIPBOARD) \n\
                 Ctrl Shift <Key>C:    copy-selection(CLIPBOARD)
